# POSTGRES_HOST=postgres
# POSTGRES_PORT=5432
# POSTGRES_USER=distroviz
# POSTGRES_PASSWORD=supersecret
# POSTGRES_DB=distroviz

# REDIS_HOST=redis
# REDIS_PORT=6379

# PORT=23001
# NODE_ENV=development